.attribution { font-size: 11px; text-align: center; padding: 10px; }
.attribution a { color: hsl(228, 80%, 48%); }
.container{
    background: rgb(0, 0, 0);
    text-align: center;
}
.inner-container{
    color: white;
    border: medium solid white;
    border-radius: 10px;
    background: #1e1f1f;
    text-align: center;
    width: max-content;
    height: min-content;
    margin: auto;
}
.profile-picture{
    border-radius: 50%;
    padding: 10px;
    width: 100px;
    height: 100px;
    margin: 0px;
}
.heading{
    color: greenyellow;
}
.bio{
    color:rgb(190, 192, 189);
    padding: 1em;
}
h1 {
    font-size: 18 px;
    margin: 0%;
}
p {
    font-size: 11 px;
    margin: 0%;
}
.social-container{
    background-color: #1e1f1f;
    border: medium solid white;
    padding: 1em;
    width: 150px;
    display: block;
    text-align: center;
    margin: auto;
}
 .social-container a{
    color: white;
    border-radius: 5%;
    width: 125px;
    background-color: rgb(54, 54, 54);
    padding: 1em;
    display: block;
    text-align: center;
}