.attribution { font-size: 11px; text-align: center; padding: 10px; }
.attribution a { color: hsl(228, 80%, 48%); }

/*
Black background for the window
.container{
    background: rgb(0, 0, 0);
    text-align: center;
}
*/

.inner-container{
    /* border: medium solid white; */
    border-radius: 20px;
    background: #1e1f1f;
    text-align: center;
    width: 300px;
    height: min-content;
    margin: auto;
    color: whitesmoke;
}
.profile-picture{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 0px;
    /*border-style: solid;
    border-color: red;*/
    object-position: 50% 50%;
    object-fit: cover;
}
.nameHeader-active{
  color: rgb(0, 221, 255);
}
.bio{
    color:rgb(190, 192, 189);
    padding: 1em;
}
h1 {
    font-size: 18 px;
    margin: 0%;
}
p {
    font-size: 11 px;
    margin: 0%;
}
.social-container{
    background-color: #1e1f1f;
    /*border: medium solid white;*/
    display: grid;
    place-items: center;
    
    /*padding: 1em;*/

}
 .social-container a{
    color: white;
    border-radius: 5%;
    width: 125px;
    background-color: rgb(54, 54, 54);
    /*padding: 1em;*/
    display: block;
}

/* Google Fonts */
.titillium-web-extralight {
    font-family: "Titillium Web", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .titillium-web-light {
    font-family: "Titillium Web", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .titillium-web-regular {
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .titillium-web-semibold {
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .titillium-web-bold {
    font-family: "Titillium Web", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .titillium-web-black {
    font-family: "Titillium Web", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .titillium-web-extralight-italic {
    font-family: "Titillium Web", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .titillium-web-light-italic {
    font-family: "Titillium Web", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .titillium-web-regular-italic {
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .titillium-web-semibold-italic {
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .titillium-web-bold-italic {
    font-family: "Titillium Web", sans-serif;
    font-weight: 700;
    font-style: italic;
  }

  .lightMode{
    background-color: red;
    /* border: medium solid white; */
    padding: 1em;
    width: 150px;
    display: block;
    text-align: center;
    margin: auto;
  }

  .style2{
    background-color: pink;
  }

a.social-button{
  background-color: #3b3b3c;
  padding: 1em;
  margin-bottom: 1em;
}

a.social-button:hover{
  background-color: orange;
}

.social-button-active-state{
  background-color: green !important;
}

.social-button-active-state:hover{
  background-color: lightgreen !important;
}

.tagline{
  color: white;
}

.active{
  color:black;
  font-weight: bold;
}

/*.tagline-default-state{
  color: orange;
}*/

.tagline-active-state{
  color: white;
}

/*.about-text-default-state{
  color: yellow;
}*/

.about-text-active-state{
  color: black;
}

.cardBackground-active-state{
  background: whitesmoke;
}

.cardContainer-active-state{
  background: whitesmoke;
}

form{
  border: medium solid black;
  background-color: bisque;
  max-width: 400px;
  padding: 1em;
}

label, text{
  display: block;
  margin: 0.5em 0 0.2em 0;
}

button {
  background-color: lightseagreen;
  color: black;
  margin-top: 1em;
  padding: 0.7em;
  border: none;
}

#form-button{
  background-color: blue;
  color: white;
  border: none;
}

#text-description{
  color: #1e1f1f;
  padding: 0.25em;
  margin: 1em
}
/*
Mobile responsive media

@media (media-feature){
Styles go here
}
*/